<h1>Questions#answer</h1>
<p>Find me in app/views/questions/answer.html.erb</p>

<h2>your question</h2>
<%= @questions %>

<H2>your answer</H2>
<%= @answer %>


<a href="/ask">Ask a new question ?</a>
